{% extends "parents/base.html"%}
{% load static%}
{%block title %} done{%endblock%}
{%block head%}<link rel="stylesheet" type="text/css" href="{% static 'css/ticket.css'%}"> {%endblock%}
{%block content %}
  <div class="container">
    <div class="card">
      <img src="{% static 'images/logout.svg' %}" alt="خروج موفق" class="image" height="300px" />
      <h1>با موفقیت تغییر یافت</h1>
      <a href="{% url 'blog:profile' %}" class="btn_back">پروفایل</a>
      <a href="{% url 'blog:index' %}" class="btn_back">صفحه اصلی</a>
    </div>
  </div>
{%endblock%}