{% extends "parents/base.html"%}
{% load static%}
{%block title %} Ticket{%endblock%}
{%block head%}<link rel="stylesheet" type="text/css" href="{% static 'css/ticket.css'%}"> {%endblock%}
{%block content %}
  <main class="container">
      <div class="errors">
    {% if form.errors %}
        {% for field in form  %}
            {% if field.errors %}
                {% for error in field.errors  %}
                  {{field.label}}:{{error}}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
        {{form.non_field_errors}}
    {% endif %}
  </div>
    <section class="ticket-form">
      <h2>تغییر گذرواژه</h2>
      <form method="post">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="تغییر">

      </form>
    </section>
  </main>

{%endblock%}