{% extends "parents/base.html"%}
{% load jformat%}
{% load blog_tags%}
{%block title %} posts{%endblock%}
{%block content %}
{% if messages %}

  {% for message in messages %}
    <div class="toast show">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}

		 <h3>
            

         </h3><p></p>
		<p>
        
    </p>
	</li>

<!--  we have to end for tag  -->
       </ol>

  <main class="container">
    <section class="posts">
      {% for post in posts %}
        <div class="post-card">
          <div class="post-info">
            <h2 class="post-title">{{post.title}}</h2>
            <div class="post-meta">
              <span>✍️ نویسنده: {{post.author}}</span>
              <span>📅 {{post.published|jformat:"%Y-%m-%d"}}</span>
              <span>💬 {%comments_of_this_post post.id%}</span>
            </div>
            <p class="post-content">
             {{post.description|truncatewords:6}}
            </p>
          </div>
          
          <div class="image-holder">
            {% if post.images.first.image_file.url %}<img src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}" class="post-image-pre">{% endif %}
          </div>
          <div class="post-actions">
          <a href="{{post.get_absolute_url}}" class="read-more">ادامه مطلب</a>
          </div>
        </div>
      {% endfor %}
    </section>
  </main>
  

  <div class="center"><h3 style="" center>{% include 'partials/paginator.html' with page_obj=posts %}</h3></div>
{%endblock%}