{% extends "parents/base.html"%}
{% load jformat%}
{%block title %} posts{%endblock%}
{%block content %}
     
	<li style="--i: {{forloop.counter}}">
		 <h3>
            

         </h3><p></p>
		<p>
        
    </p>
	</li>

<!--  we have to end for tag  -->
       </ol>

  <main class="container">
    <section class="posts">
      {% for post in posts %}
      <article class="post">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span>✍️{{post.author}}</span>
         
          <span>📅 {{post.published|jformat:"%Y-%m-%d"}}</span>
          <span>💬 {{post.comments.count}}</span>
          
        </div>
        <p> {{post.description|truncatewords:6}}</p>
        <a href="{{post.get_absolute_url}}" class="read-more">ادامه مطلب</a>
      </article>
      {% endfor %}
    </section>
  </main>
  <div class="center"><h3 style="" center>{% include 'partials/paginator.html' with page_obj=posts %}</h3></div>
{%endblock%}