{% extends "parents/base.html"%}
{% load jformat%}
{% load blog_tags%}
{%block title %}post{%endblock%}
{%block content %}
{% if messages %}
  <div id="toast" class="toast">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}
     <main class="container">
    <article class="post-detail">
      <h2 style="text-align:center;">{{post.title}}</h2>
      <div class="post-meta">
        <span> |نویسنده:{{post.author|bold}}</span>
        <span> | تاریخ:{{post.published|jformat:" %H:%M - %Y/%m/%d "}}</span>
        <span> | ۲۴۵ بازدید</span>
        
        <span> |{%comments_of_this_post post.id%}دیدگاه</span>
      </div>
      <p  style="color: black;">
       <strong> {{post.description}}</strong>
      </p>
    </article>
    
     <section class="add-comment">
      <h3>افزودن دیدگاه جدید</h3>
      <form method="post" action="{% url 'blog:comment' post.id%}">
        {%csrf_token%}
        <textarea placeholder="متن دیدگاه..." rows="4" required name="body"></textarea>
        <button type="submit">ارسال دیدگاه</button>
      </form>
    </section>

    <section class="comments">
      <h3>دیدگاه‌ها ({%comments_of_this_post post.id%})</h3>
      {% for comment in comments  %}
      <div class="comment">
        <strong>{{comment.name}}</strong>
        <p>{{comment.body}}</p>
      </div>
      {% endfor %}
    </section>
  </main>
{%endblock%}