{% extends "parents/base.html"%}
{% load jformat%}
{%block title %} posts{%endblock%}
{%block content %}
<a href="{%url 'blog:add_post'%}">ایجاد پست</a>
<ol style="--length: {{posts|length}}" role="list">
     {% for post in posts %}
	<li style="--i: {{forloop.counter}}">
		 <h3>
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>

         </h3><p>{{post.published|jformat:"%Y-%m-%d"}}</p>
		<p>
        {{post.description|truncatewords:6}}
    </p>
	</li>

<!--  we have to end for tag  -->
      {% endfor %} </ol>
{% include 'partials/paginator.html' with page_obj=posts %}
{%endblock%}