{% extends "parents/base.html"%}
{%load jformat%}
{%load blog_tags%}
{%block title %}search{%endblock%}
{%block content%}
<main class="container">
  <h1>جستجو برای '{{query}}'</h1>
    <section class="posts">
      {% for post in results %}
      <article class="post">
        <h2>{{post.title}}</h2>
        <div class="meta">
          <span>✍️{{post.author}}</span>
         
          <span>📅 {{post.published|jformat:"%Y-%m-%d"}}</span>
          <span>💬 {{post.comments.count}}</span>
          
        </div>
        <p> {{post.description|truncatewords:6}}</p>
        <a href="{{post.get_absolute_url}}" class="read-more">ادامه مطلب</a>
      </article>
      {% endfor %}
    </section>
  </main>
{%endblock%}