{% extends "parents/base.html"%}
{% load static%}
{%block title %} Ticket{%endblock%}
{%block head%}<link rel="stylesheet" type="text/css" href="{% static 'css/ticket.css'%}"> {%endblock%}
{%block content %}
  <main class="container">
    <section class="ticket-form">
      <h2>ثبت تیکت جدید</h2>
      <form method="post">
        {%csrf_token%}
        <label for="author_name">نام کاربری </label>
        <input type="text" id="author_name" name="author_name" {% if form.author_name.value %}value="{{form.author_name.value}}"{% endif %}>

        <label for="author_email">ایمیل</label>
        <input type="text" id="author_email" name="author_email" {% if form.author_email.value %}value="{{form.author_email.value}}"{% endif %}>

        <label for="title">موضوع</label>
        <input type="text" id="title" name="title"{% if form.title.value %}value="{{form.title.value}}"{% endif %}>

        <label for="body">پیام شما</label>
         <textarea id="body" name="body">{% if form.body.value %} {{form.body.value}} {% endif %}</textarea>

        <button type="submit">ارسال تیکت</button>
      </form>
    </section>
  </main>
  <div class="errors">
    {% if form.errors %}
        {% for field in form  %}
            {% if field.errors %}
                {% for error in field.errors  %}
                  {{field.label}}:{{error}}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
        {{form.non_field_errors}}
    {% endif %}
  </div>
{%endblock%}