{% extends "parents/base.html"%}
{%block title %} Ticket{%endblock%}
{%block content %}
<form method="post">
    {%csrf_token%}
    نام
    <input type="text" name="author_name" {% if form.author_name.value %}value="{{form.author_name.value}}"{% endif %}>
    <br>
    ایمیلل
    <input type="email" name="author_email"{% if form.email.value %}value="{{form.author_email.value}}"{% endif %}><br>
    موضوع
    <input type="text" name="title"{% if form.title.value %}value="{{form.title.value}}"{% endif %}><br>
    تیکت
    <textarea name="body">{% if form.body.value %} {{form.body.value}} {% endif %}</textarea><br>
    <input type="submit" value="ارسال">
</form>
<div class="errors">
    {% if form.errors %}
        {% for field in form  %}
            {% if field.errors %}
                {% for error in field.errors  %}
                  {{field.label}}:{{error}}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
        {{form.non_field_errors}}
    {% endif %}

</div>
{%endblock%}